::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

::-webkit-scrollbar-track {
  background-color: #261C2C;
}

::-webkit-scrollbar-thumb {
  background-color: #6E85B2;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #5C527F;
}

.codeArea {
    width: 700px;
    height: 300px;
    background-color: transparent;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    transition: all 0.5s;
    border: 0px;
    resize: none;
    outline: 0px;
    color: #6E85B2;
}

.codeArea:focus {
    background-color: #6E85B2;
    color: #FFFFFF;
}